*{
  margin: 0;
  padding: 0;
}
body{
    font-family: 'Poppins',sans-serif;
}
.cabecalho {
  background-color: aqua;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}